h1{
  text-align: center;
}

#Player-Form {
  display:block;
  margin:auto;
  width:60%;
}

button {
  display:inline-block;
  margin-top: 10px;
}

#Players_wrapper {
  width:60% !important;
  margin:auto;
}
